/core/internal/db/sqlc
/config/accounts
/config/plugins
/config/*.json
/plugins/local/com.sample.plugin
/plugins/installed
/plugins/update
/plugins/backup
/plugins/local
/output
/public
/local
/openwrt-files
/.cache
/.tmp
/.gocache
/vendor
/node_modules
/go
/plugins/installed/*
/bin
.null*

.DS_Store
*.so
*.app
*.work
*.log
.env
main_mono.go
plugin-init_mono.go
go.work.sum

__debug_bin*
main.exe
*:Zone.Identifier
