/output
/public
/local
/openwrt-files
/.cache
/.tmp
/.gocache
/vendor
/node_modules
/go
/data/config
/data/plugins/local/*
/data/storage
!/data/plugins/local/.keep
/plugins/installed
/plugins/updates
/plugins/backups
/plugins/cache
/bin
/packages
/runtime
.null*

.DS_Store
*.so
*.app
*.work
*.log
*.sqlite
.env
plugin-init_mono.go
go.work.sum
os_release.json

__debug_bin*
main.exe
*:Zone.Identifier
/storage
.vscode/
data.zip
