h1,h2,h3,h4,h5,h6,p,span,ul {
  margin: 0;
}

[x-cloak] { display: none !important; }

.navbar {
  text-align: center;
  background-color: white;
  border: 1px solid oklch(92.8% .006 264.531);
}

.navbar .navbar-nav.flex-row {
  margin-left: auto;
}

.navbar .logo-img {
  display: inline;
  max-height: 30px;
}

@media (max-width: 767px) {
  .navbar .logo-img {
    max-width: 100%;
    height: auto;
  }
}

#theme-chooser .bi {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  vertical-align: -0.125em;
  fill: currentColor;
}

#theme-chooser .btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}

/* LAYOUT */
.layout {
  display: flex;
  height: 100vh;
}

.layout .right-content {
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  transition: all;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
  min-width: 0;
  margin-left: 16rem;
}

.layout .right-content header {
  height: 4rem;
  border-bottom: 1px solid oklch(92.8% .006 264.531);
  flex-shrink: 0;
}

.layout main {
  flex: 1;
  overflow: auto;
  padding: 1.5rem;
  min-width: 0;
}

/*
 * Sidebar
 */

/* @media (min-width: 768px) {
  .sidebar {
    top: 0;
    left: 0;
    position: fixed;
    width: 250px;
    height: 100vh;
    overflow-y: auto;
  }
  .sidebar .offcanvas-md {
    padding-top: 54px;
  }
  .navbar-search {
    display: block;
  }
  main.col-md-9 {
    margin-left: 250px;
    flex: 0 0 calc(100% - 250px);
    max-width: calc(100% - 250px);
  }
} */

/*
 * Navbar
 */

.navbar-brand {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
}

@media (min-width: 768px) {
  .navbar-brand {
    width: 250px;
  }
}

.navbar .form-control {
  padding: 0.75rem 1rem;
}

@media (min-width: 768px) {
  .navbar .d-flex.align-items-center {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.search-bar {
  display: flex;
  flex: 1;
  max-width: 28rem;
  margin-inline: 1rem
}

.search-bar input {
  width: 100%;
  padding-left: 2.5rem;
  padding-right: 1rem;
  padding-block: 0.5rem;
  border: 1px solid oklch(87.2% 0.01 258.338);
  border-radius: 0.625rem;
}

.search-bar .search-icon {
  position: absolute;
  left: 0.75rem;
  top: calc(1/2*100%);
  translate: 0 calc(1/2*-100%);
  color: oklch(70.7% 0.022 261.325);
}

.toggle-device {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0.75rem;
  border-radius: 0.625rem;
  border: 0;
  background-color: oklch(96.7% .003 264.542);

  &:hover{
    background-color: oklch(92.8% 0.006 264.531);
  }
}

.floating-dialog {
  position: fixed;
  inset: 0;
  z-index: 10;
}

.floating-dialog-content {
  position: absolute;
  right: 0;
  top: 100%;
  margin-top: 0.5rem;
  width: 12rem;
  background-color: white;
  border-radius: 0.625rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  border: 1px solid oklch(92.8% .006 264.531);
  padding-block: 0.25rem;
  z-index: 20;
}

.notification-badge {
  position: absolute;
  top: -0.25rem;
  right: -0.25rem;
  background-color: oklch(63.7% .237 25.331);
  color: white;
  border-radius: calc(infinity*1px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.admin {
  display:flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: oklch(44.6% 0.03 256.802);
}

[data-bs-theme="dark"] .layout .right-content header {
  border-bottom: 1px solid rgba(255,255,255,0.15);
}

[data-bs-theme="dark"] .search-bar input {
  border-color: rgba(255,255,255,0.15);
}

[data-bs-theme="dark"] .toggle-device {
  color: rgba(222,226,230,0.85);
  background-color: rgba(255,255,255,0.15);
}

[data-bs-theme="dark"] .floating-dialog-content {
  background-color: #212529;
  border-color: rgba(255,255,255,0.15);
}

[data-bs-theme="dark"] .notification-badge {
  color: rgba(222,226,230,0.85);
}

[data-bs-theme="dark"] .admin {
  color: rgba(222,226,230,0.85);
}