//go:build dev

package livereload

templ LiveReloadScript() {
<!-- LiveReload script for development environment -->
<script type="text/javascript">
(function connect() {
  var ws = new WebSocket("ws://localhost:8000/livereload");
  ws.onopen = function() {
    console.log("✅ LiveReload connected");
  };

  ws.onmessage = function(event) {
    if (event.data === "reload") {
      console.log("🔁 Reload triggered");
      location.reload();
    }
  };

  ws.onclose = function() {
    console.log("⚠️ LiveReload disconnected. Reconnecting...");
    setTimeout(connect, 1000);
  };

})();
</script>
}
