package pluginsview

type Release struct {
	TagName string `json:"tag_name"`
	Name    string `json:"name"`
	Body    string `json:"body"`
}

templ ReleasesPage(data []Release) {
	<div>Github Releases </div>
	for _, release := range data {
		<div>
			Tag: { release.TagName }
			Name: { release.Name }
			Body: { release.Body }
		</div>
	}
}
