.icon-container {
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.icon-container.blue {
    background-color: rgba(59, 130, 246, 0.1);
    color: #155dfc;
}

.icon-container.purple {
    background-color: rgba(168, 85, 247, 0.1);
    color: #9810fa;
}

.icon-container.green {
    background-color: rgba(16, 185, 129, 0.1);
    color: #00a63e;
}

[data-bs-theme="dark"] .icon-container.blue {
    background-color: rgba(59, 130, 246, 0.2);
}

[data-bs-theme="dark"] .icon-container.purple {
    background-color: rgba(168, 85, 247, 0.2);
}

[data-bs-theme="dark"] .icon-container.green {
    background-color: rgba(16, 185, 129, 0.2);
}
