package portal

import "sdk/api"

templ PortalIndexPage(navs []sdkapi.PortalNavItem) {
	<ul>
		for _, nav := range navs {
            <li>
                <a href={ templ.SafeURL(nav.RouteUrl) }>
                    { nav.Label }
                </a>
            </li>
		}
	</ul>
}
