package admin

import (
	"com.flarego.default-theme/app/sysinfo"
	"sdk/api"
)

templ AdminIndexPage(api sdkapi.IPluginApi, info *sysinfo.SystemInfo) {
	<h1>{ api.Translate("label", "Admin Dashboard") }</h1>

	@ResourceInfo(api, info)
}
